.sections{
    border: 1px solid black;
    align-items: center;
    text-align: center;
    margin:20px;
    display:flex;

}

#randomnumber{
text-align: center;
}

.crystals{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crystal{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    justify-content: center;
    display: flex;
    margin: 10px;

    /* justify-content: space-around; */
}

h1{
    text-align: center;
    font-size: large;
    padding:40px;
}

.gem-image{

   
}