#random

.sections{
    border: 1px solid black;
    align-items: center;
    text-align: center;
    margin:20px;
    display:flex;

}

#randomnumber{
text-align: center;
color: red;
font-size: 20;
}

.crystals{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crystal{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    justify-content: center;
    display: flex;
    margin: 10px;

}

h1{
    text-align: center;
    padding:40px;
    width:100%;
}


#userscore{
    text-align: center;
}
